p {
  color: grey;
  
    padding-right: 30px;
    padding-left: 80px;
  }

H1 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
  
}

H2 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
  
}

H3 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
  
}
H4 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}

ul {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 100px;
}

