p {
  color: grey;
  
    padding-right: 30px;
    padding-left: 80px;
  }

H1 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 80px;
  
}

H2 {
  
    padding-right: 30px;
    padding-left: 80px;
  
}

H3 {
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
  
}
H4 {
  
    padding-right: 30px;
    padding-left: 80px;
}

ul {
  
    color: grey;
  
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 100px;
}

a:link {
    color: #0094DE;
    text-decoration: none;


}
a:visited {
        text-decoration: none;
color: #c6c5be;

}
a:hover {
text-decoration: underline;
color: #b5b5b5;

}

